* text=auto !eol
uuid-52bit-20120613/Makefile -text
uuid-52bit-20120613/ae.c -text
uuid-52bit-20120613/ae.h -text
uuid-52bit-20120613/ae_epoll.c -text
uuid-52bit-20120613/anet.c -text
uuid-52bit-20120613/anet.h -text
uuid-52bit-20120613/redis-realloc.c -text
uuid-52bit-20120613/redis.c -text
uuid-52bit-20120613/test.php -text
uuid-52bit-20120618/Makefile -text
uuid-52bit-20120618/ae.c -text
uuid-52bit-20120618/ae.h -text
uuid-52bit-20120618/ae_epoll.c -text
uuid-52bit-20120618/anet.c -text
uuid-52bit-20120618/anet.h -text
uuid-52bit-20120618/redis-realloc.c -text
uuid-52bit-20120618/redis.c -text
uuid-52bit-20120618/test.php -text
uuid-52bit/Makefile -text
uuid-52bit/ae.c -text
uuid-52bit/ae.h -text
uuid-52bit/ae_epoll.c -text
uuid-52bit/anet.c -text
uuid-52bit/anet.h -text
uuid-52bit/redis-realloc.c -text
uuid-52bit/redis.c -text
uuid-52bit/test.php -text
uuid-64bit/Makefile -text
uuid-64bit/ae.c -text
uuid-64bit/ae.h -text
uuid-64bit/ae_epoll.c -text
uuid-64bit/anet.c -text
uuid-64bit/anet.h -text
uuid-64bit/redis-realloc.c -text
uuid-64bit/redis.c -text
uuid-64bit/test.php -text
